@using app.Models;
@model IEnumerable<app.Models.PRODUCT_SKU>
@{
    ViewData["Title"] = "PRODUCT SKU LIST";
}
<h2>@ViewData["Title"]</h2>
<!--<h3>@ViewData["Message"]</h3>-->

<div style="font-family:Arial">
<Table cellpadding="5" cellspacing="2" border="1">
<tr>
<th>ITEM NUMBER</th>
<th>DESCRIPTION</th>
<th>LONG DESCRIPTION</th>
<th>CATALOGUE CATEGORY</th>
<th>SKU UNIT OF MEASURE</th>
<th>STYLE ITEM</th>
<th>SKU ATTRIBUTE 1</th>
<th>SKU ATTRIBUTE VALUE 1</th>
</tr>
	@foreach (PRODUCT_SKU style in Model)
	{
	<tr>
		<TD>@style.ITEM_NUMBER</TD>
		<TD>@style.DESCRIPTION</TD>
		<TD>@style.LONG_DESCRIPTION</TD>
		<TD>@style.CATALOGUE_CATEGORY</TD>
		<TD>@style.SKU_UNIT_OF_MEASURE</TD>
		<TD>@style.STYLE_ITEM</TD>
		<TD>@style.SKU_ATTRIBUTE_1</TD>
		<TD>@style.SKUATT_VALUE_1</TD>
	</tr>
	}
</ul>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
</div>

