@{
 String pageName = ViewContext.RouteData.Values["controller"].ToString();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - app</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

<script>
var AutoChange = 1
function LoadSelectedTypePage() {
  if(document.getElementById('dbOption').value != "" && AutoChange != 0)
	document.location.href='/'+document.getElementById('dbOption').value+'/Index';	

	AutoChange = 1;
}

function SelectedTypePage() { }

$(document).ready(function () {
if(1 > 2)
{
    if(window.location.href.indexOf("ProductCatalog") > -1) 
    {
	AutoChange = 0;
	document.getElementById('dbOption').selectedIndex = 1;
	
    }
    else if(window.location.href.indexOf("ProductPricing") > -1) 
    {
	AutoChange = 0;
	document.getElementById('dbOption').selectedIndex = 3;
	
    }
    else if(window.location.href.indexOf("ProductSku") > -1) 
    {
	AutoChange = 0;
	document.getElementById('dbOption').selectedIndex = 4;
	
    }
    else if(window.location.href.indexOf("Product") > -1) 
    {
	AutoChange = 0;
	document.getElementById('dbOption').selectedIndex = 2;
	
    }
}
});	

</script> 
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">app</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
		    <li><a asp-area="" asp-controller="Home" asp-action="Product">Product</a></li>
		    <li>_______________________________________________</li>

		    <li><select name="dbOption" id="dbOption" >
  <option value="" >Select Type</option>
  <option value="ProductCatalog" @((pageName.IndexOf("ProductCatalog") > -1) ? "Selected" : "") >CATALOGUE</option>
  <option value="Product" @(pageName == "Product" ? "Selected" : "") >STYLE</option>
  <option value="ProductPricing" @((pageName.IndexOf("ProductPricing") > -1) ? "Selected" : "") >PRICING</option>
  <option value="ProductSku" @((pageName.IndexOf("ProductSku") > -1) ? "Selected" : "") >Product SKU</option>
</select> 
<input type="text" name="txtSearch" id="txtSearch" Value="" width="20">
		<Input type="button" class="Search" Value="Search" Text="Search" 
onClick="if(document.getElementById('txtSearch').value != '')document.location.href='/'+document.getElementById('dbOption').value+'/Index/'+document.getElementById('txtSearch').value;else{alert('Please enter your search criteria!!');}"></li>
                </ul>
            </div>	    
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
<script src="https://assistant-web.watsonplatform.net/loadWatsonAssistantChat.js"></script>
<script>

    // integrationID and region are required config options to your Web Chat.
    // We provide them here, but can extend this "options" variable
    // before we initialize the Web Chat.
    const options = {
        integrationID: "5dceb894-7396-49db-bbb1-378958b84391",
        region: "au-syd"
    };

    /* region: "us-south"
      Instructions
      - Upload the included setting-context.json skill and create a Web Chat integration in an
        assistant using the uploaded skill.
      - Update config with your `integrationID` and `region`.
      - Ask the Web Chat "Is it party time?"
      - When you send the message, `context.skills['main skill'].user_defined.party_time` will
        be set to true, and the assistant will reply that it is indeed party time.
    */

    /**
    * Following the v2 message API Response
    * at https://cloud.ibm.com/apidocs/assistant/assistant-v2#send-user-input-to-assistant,
    * we add some items to context.
    */
    function preSendhandler(event) {
      event.data.context.skills['main skill'].user_defined.party_time = false;

      // You can OPTIONALLY return a promise and we will wait to continue processing until the promise is resolved. If
      // you return nothing we will immediately continue processing the event.
      /*
      return new Promise(function(resolve) {
        myAsyncThing.then(function(moreData) {
          // Do some other manipulation of event.data...
          resolve();
        });
      }); 
      */
      
    }

    // Initialize the Web Chat with the default options including your
    // integrationsID and region.
    window.loadWatsonAssistantChat(options).then(function(instance){
      // Subscribe to the "pre:send" event.
      instance.on({ type: "pre:send", handler: preSendhandler });
      instance.render();
    });
  
</script>
        <hr />
        <footer>
            <p>&copy; 2020 - Henkel Kolkata Cloud2.</p> 
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/jquery-3.3.1.js" asp-append-version="true"></script>
	<script src="~/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
