@using app.Models;
@model IEnumerable<app.Models.ProductModel>
@{
    ViewData["Title"] = "Style List";
}
<h2>@ViewData["Title"]</h2>
<!--<h3>@ViewData["Message"]</h3>-->

<div style="font-family:Arial">
<Table cellpadding="0" cellspacing="0">
<tr>
<th>ITEM_NUMBER</th>
<th>Description</th>
</tr>
	@foreach (ProductModel style in Model)
	{
	<tr>
		<TD>@style.ITEM_NUMBER</TD>
		<TD>@style.DESCRIPITION</TD>
		<TD>@style.DESCRIPITION</TD>
	</tr>
	}
</ul>
</div>